.main-body {
    padding-bottom: 20px;
}





#portfolio-header {
    padding: 25px;
}

.portfolio-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-top {
    margin-bottom: 30px;
}

.portfolio-title {
    margin-bottom: 6px;
    font-weight: 400;
    color: #fff;
}

.portfolio-info .portfolio-update {
    color: var(--light-grey);
}

.portfolio-actions {
    display: flex;
    gap: 10px;
}

.portfolio-actions .portfolio-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid var(--light-grey);
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--light-grey);
    font-size: 15px;
}

.portfolio-actions .portfolio-btn ion-icon {
    font-size: 22px;
}

.portfolio-item .portfolio-label {
    color: var(--light-grey);
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 14px;
}

.portfolio-item .portfolio-label ion-icon {
    font-size: 22px;
}

.portfolio-item {
    padding: 10px;
}

.portfolio-item:not(.balance-item) {
    background-color: var(--bg-color);
    border-radius: 8px;
}

.portfolio-item .portfolio-value {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.balance-item .hide-price-btn {
    font-size: 12px;
    background-color: var(--bg-color);
    color: var(--light-grey);
    border: none;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.balance-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 991.98px) {

    .main-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .market-card .change-header,
    .market-card .coin-change {
        display: none;
    }

    .market-card .coin-name {
        order: 1;
    }

    .market-card .chart-column {
        order: 2;
    }

    .market-card .market-price,
    .market-card .price-column {
        order: 3;
    }

    .market-card .market-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    .market-card .market-price span:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}


@media (max-width: 480px) {
    .coin-info-mobile {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .market-card .coin-name .coin-tag {
        margin-left: 0;
        margin-top: 4px;
        background-color: var(--charcoal);
        padding-left: 0;
    }
}