:root {
    --bg-color: #080808;
    --charcoal: #121318;
    --primary-color: #5367FE;
    --profit-text: #049E68;
    --loss-text: #D52525;
    --light-grey: #787A89;
    --light-blue: #3671E9;
    --cyan: #026DCF;
}

.text-light-grey {
    color: var(--light-grey);
}

.text-primary-color {
    color: var(--primary-color);
}

.text-cyan {
    color: var(--cyan);
}

#header {
    padding-top: 20px;
}

.main-body {
    background-color: var(--bg-color);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px !important;
}

.main-body header {
    background-color: var(--charcoal);
    border-radius: 8px;
    padding: 0 42px;
}