:root {
    --bg-color: #080808;
    --charcoal: #121318;
    --primary-color: #5367FE;
    --profit-text: #049E68;
    --loss-text: #D52525;
    --light-grey: #787A89;
    --light-blue: #3671E9;
    --cyan: #026DCF;
    --profit-loading-text: #545766;
    --profit-loading: #9DD0B8;
    --loss-loading: #d09d9d;
}

.main-body {
    padding-bottom: 25px;
}

.main-body .market-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-title {
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 35px;
}

/* ---------- Coin Header ---------- */
.coin-header {
    display: flex;
    flex-direction: column;
    gap: 22px;
    /* was 18px */
}

.coin-info {
    display: flex;
    align-items: center;
    gap: 18px;
}

.coin-image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.coin-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.coin-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.coin-name p {
    margin: 0;
}

.coin-name p:first-child {
    font-size: 32px;
    color: #fff;
}

.coin-tag {
    padding: 3px 12px;
    background: var(--bg-color);
    border-radius: 5px;
    color: var(--light-blue);
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.favorite-btn {
    width: 42px;
    height: 42px;
    background: var(--bg-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}

.favorite-btn ion-icon {
    font-size: 20px;
    color: var(--primary-color);
}

.coin-meta {
    display: flex;
    align-items: center;
    gap: 45px;
}

.coin-meta p {
    margin: 0;
    font-size: 13px;
}

.coin-meta p:nth-child(1) {
    background: var(--bg-color);
    color: var(--light-grey);
    padding: 4px 4px 4px 6px;
    border-radius: 5px;
    min-width: 65px;
}

.coin-meta p:nth-child(2) {
    color: var(--light-grey);
}

.coin-meta p:nth-child(3) {
    color: var(--light-grey);
}


/* ===========================
   Price Card
=========================== */

.price-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Top */

.price-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-value {
    display: flex;
    align-items: center;
    gap: 14px;
}

.price-value h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.price-value p {
    margin: 0;
    color: var(--profit-text);
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.price-value ion-icon {
    font-size: 18px;
}

.price-label {
    display: flex;
    align-items: center;
    gap: 2px;
}

.price-label p {
    margin: 0;
    color: var(--light-grey);
    font-size: 13px;
}

.price-label ion-icon {
    color: var(--light-grey);
    font-size: 18px;
}

.price-range {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* High / Low Header */

.price-range-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--light-grey);
}

.range-title p {
    margin: 0;
    /* color: var(--light-grey); */
}

.range-title ion-icon {
    /* color: var(--primary-color); */
    font-size: 20px;
}

.range-filter {
    display: flex;
    align-items: center;
    gap: 6px;
    background: var(--bg-color);
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.range-filter p {
    margin: 0;
    color: var(--light-grey);
    font-size: 14px;
}

.range-filter ion-icon {
    color: var(--light-grey);
    font-size: 16px;
}

/* Progress */

.progress-bar {
    width: 100%;
    height: 8px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    width: 65%;
    height: 100%;
    background: var(--primary-color);
}

/* Footer */

.price-range-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-range-footer p {
    margin: 0;
    color: var(--light-grey);
    font-size: 14px;
}

/* ==========================
   Stats Section
========================== */

.stats-row {
    margin-top: 40px;
}

.stat-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 12px;
}

.stat-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 15px;
    color: var(--light-grey);
    font-size: 15px;
}

.stat-title ion-icon {
    color: var(--primary-color);
    font-size: 18px;
}

.stat-value {
    margin: 0;
    color: #fff;
    font-size: 18px;
    /* font-weight: 700; */
}

.stat-change {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
    color: var(--profit-text);
    font-size: 15px;
    font-weight: 500;
}

.stat-change ion-icon {
    font-size: 16px;
}

.stats-row .col-md-6>.row {
    row-gap: 30px;
}

/* ==========================
   Trade Card
========================== */

.trade-card {
    background: var(--charcoal);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.trade-form {
    margin-bottom: 25px;
}

/* Tabs */

.trade-tabs {
    display: flex;
    border-bottom: 1px solid #fff;
}

.trade-tab {
    flex: 1;
    padding: 14px;
    border: none;
    background: none;
    color: var(--light-grey);
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

.trade-tab.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: -1px;
}

/* Order Types */

.order-types {
    display: flex;
    gap: 12px;
}

.order-type {
    flex: 1;
    cursor: pointer;
}

.order-type input {
    display: none;
}

.order-type span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    background: var(--charcoal);
    color: var(--light-grey);
}

.order-type.active span {
    background: var(--bg-color);
    color: var(--primary-color);
    border-color: transparent;
}

/* Wallet */

.wallet-info {
    display: flex;
    justify-content: space-between;
}

.wallet-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
}

.wallet-item img {
    width: 20px;
    height: 20px;
}

/* Input Groups */

.trade-input-group {
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.trade-input {
    width: 100%;
}

/* .trade-input label {
    display: block;
    margin-bottom: 8px;
    color: var(--light-grey);
    font-size: 14px;
} */

.input-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    background: var(--charcoal);
    overflow: hidden;
}

.input-label {
    padding: 10px 14px 4px;
    margin: 0;
    color: var(--light-grey);
    font-size: 13px;
}

.input-content {
    display: flex;
    align-items: center;
    min-width: 0;
    padding-bottom: 4px;
}

/* .input-box span {
    padding: 0 4px;
    color: #fff;

} */

.input-prefix {
    padding: 0 0 0 14px;
    color: #fff;
}

.input-content input {
    flex: 1;
    min-width: 0;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 4px;
}

/* Currency */

.currency-select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0 12px;
    background: transparent;
    border: none;
    color: #fff;
    flex-shrink: 0;
}

.currency-select img {
    width: 22px;
}

.currency-icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.currency-icon ion-icon {
    color: var(--bg-color);
    font-size: 14px;
}

/* Total */

.trade-total {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

/* Button */

.trade-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}



/* ===== book card ===================== */

/* ===================================
   Order Book Tabs
=================================== */

.book-tabs {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 18px;
}

.book-tab {
    background: transparent;
    border: none;
    color: var(--light-grey);
    font-size: 15px;
    font-weight: 500;
    padding: 0 0 14px;
    position: relative;
    cursor: pointer;
}

.book-tab.active {
    color: #fff;
}

.book-tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
}

/* ===================================
   Filter
=================================== */

.book-filter {
    display: flex;
    gap: 10px;
    padding: 6px;
    background: var(--bg-color);
    border-radius: 8px;
    margin-bottom: 20px;
}

.book-filter-btn {
    border: none;
    background: var(--charcoal);
    color: var(--light-grey);
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 14px;
    transition: .3s;
}

.book-filter-btn.active {
    background: var(--primary-color);
    color: #fff;
}

/* ===================================
   Order Book Header
=================================== */

.order-book-header {
    margin-bottom: 20px;
}

.order-book-header>div {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #616269;
    font-size: 13px;
    font-weight: 400;
}

.order-book-header ion-icon {
    font-size: 12px;
}

.order-book-header .col-lg-4:nth-child(2) {
    justify-content: flex-start;
}

.order-book-header .col-lg-4:nth-child(3) {
    justify-content: flex-end;
}


/* Order Row */
.order-book-row {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}

/* Volume Background */
.order-fill {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
}

.profit-loading {
    background: var(--profit-loading);
}

.loss-loading {
    background: var(--loss-loading);
}

.order-book-row .row {
    position: relative;
    z-index: 1;
}

.order-book-row p {
    margin: 0;
    font-size: 13px;
    line-height: 28px;
    color: #616269;
}

/* Alignment */
.order-book-row .row .col-lg-4:nth-child(1) {
    text-align: left;
}

.order-book-row .row .col-lg-4:nth-child(2) {
    text-align: left;
}

.order-book-row .row .col-lg-4:nth-child(3) {
    text-align: right;
}






/* ===================================
   Price Button
=================================== */

.order-price-btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    background: var(--profit-text);
    color: #fff;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
}

.desktop-price-btn {
    display: block;
}

.mobile-price-btn {
    display: none;
}

.mobile-order-books {
    display: block;
}

.mobile-order-header {
    display: none;
}













/* ========================================= */


.coin-change span,
.market-price .text-profit {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
}

.market-price span:last-child {
    display: none;
}

.coin-info {
    display: flex;
    gap: 5px;
}



@media (max-width: 1260px) {
    .responsive-stack {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .market-table-header .col-md-1:not(.chart-column),
    .market-table-row .coin-change {
        display: none;
    }

    .market-price {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        /* Make children take full width */
        gap: 4px;
    }

    .market-price>span {
        width: 100%;
        text-align: left;
    }

    .market-price>span:last-child {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        font-size: 11px;
        margin-top: 0;
        white-space: nowrap;
    }
}

@media (max-width: 991.98px) {
    .trade-column .trade-card:first-child {
        display: none;
    }

    .market-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .price-value h2 {
        font-size: 25px;
        color: var(--light-grey);
    }

    .market-toolbar p {
        color: #fff;
    }

    .filter-panel {
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    .filter-categories ul {
        display: flex;
        flex-wrap: nowrap;
        width: max-content;
        gap: 17px;
    }

    .filter-categories li {
        flex-shrink: 0;
        white-space: nowrap;
    }

    /* ===========================
    Header (Only 3 Columns)
    =========================== */

    .market-table-header .high-col,
    .market-table-header .low-col,
    .market-table-row .coin-high,
    .market-table-row .coin-low {
        display: none;
    }

    .coin-name {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .coin-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
    }

    .coin-title {
        display: block;
        font-size: 13px;
        line-height: 1;
    }

    .coin-tag {
        display: block;
        font-size: 11px;
        line-height: 1;
        background-color: var(--charcoal);
        color: var(--light-blue) !important;
        padding: 3px 0;
    }

    .market-table-header .chart-column {
        order: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .market-table-header .price-column {
        order: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        white-space: nowrap;
    }

    .market-table-row {
        display: flex;
        align-items: center;
        padding: 18px 0;
    }

    .market-table-row .coin-name {
        flex: 0 0 41.67%;
        max-width: 41.67%;

        display: flex;
        align-items: center;
        gap: 12px;
    }

    .coin-logo {
        flex-shrink: 0;
    }

    .coin-logo img {
        width: 30px;
        height: 30px;
    }

    .coin-title {
        display: block;
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.2;
    }

    .coin-tag {
        display: block;
        color: #888;
        font-size: 11px;
        margin-top: 3px;
        padding: 3px 0 !important;
    }

    .market-table-row .chart-column {
        order: 2;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        display: flex;
        justify-content: center;
    }

    .chart-image img {
        width: 60px;
    }

    /* Price */
    .market-table-row .market-price {
        order: 3;
        flex: 0 0 25%;
        max-width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .market-price span {
        font-size: 13px;
        font-weight: 300;
        /* text-align: center; */
        color: #fff;
    }

    /* Hide Separate Change Column */
    .market-table-row .coin-change {
        display: none;
    }

    .order-book-card {
        margin: 25px 0;
    }

    .book-filter {
        display: none;
    }

    .order-book-header>div {
        display: flex;
        align-items: center;
        gap: 4px;
        white-space: nowrap;
    }

    .order-book-header>.col-lg-4:nth-child(2) {
        display: none;
    }

    .order-book-row .row>.col-lg-4:nth-child(2) {
        display: none;
    }

    .desktop-price-btn {
        display: none;
    }

    .mobile-price-btn {
        display: block;
        width: 100%;
        margin-top: 12px;
    }

    .mobile-order-books {
        display: flex;
        gap: 12px;
    }

    .profit-book,
    .loss-book {
        width: 50%;
    }

    .mobile-order-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .mobile-header-item {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #616269;
        font-size: 13px;
    }

    .mobile-header-item ion-icon {
        font-size: 12px;
    }
}

@media (max-width: 575.98px) {
    .main-body {
        padding: 15px 15px;
    }

    .main-body header {
        padding: 0 15px;
    }

    /* Market Stats Heading */
    .section-title {
        font-size: 28px;
        margin-bottom: 24px;
    }

    /* Coin Image */
    .coin-image {
        width: 48px;
        height: 48px;
    }

    /* Coin Name */
    .coin-name {
        gap: 8px;
    }

    .coin-name p:first-child {
        font-size: 24px;
    }

    .coin-tag {
        font-size: 11px;
        padding: 2px 10px;
    }

    /* Favorite Button */
    .favorite-btn {
        width: 36px;
        height: 36px;
    }

    .favorite-btn ion-icon {
        font-size: 18px;
    }

    /* Coin Meta */
    .coin-meta {
        gap: 16px;
        flex-wrap: wrap;
    }

    .coin-meta p {
        font-size: 13px;
    }











    /* Price Card */
    .price-card {
        gap: 18px;
    }

    /* Top Section */
    .price-header {
        /* flex-direction: column; */
        gap: 12px;
        align-items: center;
    }

    .price-value {
        gap: 10px;
    }

    .price-value h2 {
        font-size: 20px;
        color: var(--light-grey);
    }

    .price-value p {
        font-size: 14px;
    }

    .price-value ion-icon {
        font-size: 16px;
    }

    .price-label {
        gap: 5px;
    }

    .price-label p {
        font-size: 13px;
    }

    .price-label ion-icon {
        font-size: 16px;
    }

    /* Price Range */
    .price-range {
        gap: 12px;
    }

    .range-title {
        gap: 6px;
    }

    .range-title p {
        font-size: 14px;
    }

    .range-title ion-icon {
        font-size: 18px;
    }

    .range-filter {
        padding: 6px 10px;
        gap: 4px;
    }

    .range-filter p {
        font-size: 13px;
    }

    .range-filter ion-icon {
        font-size: 14px;
    }

    .progress-bar {
        height: 6px;
    }

    .price-range-footer p {
        font-size: 12px;
    }

    .stat-card {
        padding: 8px;
    }

    .stat-value {
        font-size: 15px;
        font-weight: 600;
    }
}