.watchlist-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.watchlist-btn,
.add-coin-btn {
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watchlist-heading {
    display: flex;
    align-items: center;
}

.watchlist-heading ion-icon {
    display: none;
}

.watchlist-btn {
    background: var(--primary-color);
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
}

.add-coin-btn {
    width: 42px;
    height: 42px;
    background: var(--bg-color);
    color: var(--light-grey);
    border-radius: 8px;
    font-size: 20px;
}

.watchlist-btn ion-icon {
    font-size: 16px;
}

.add-coin-btn ion-icon {
    font-size: 22px;
}

.market-price span:nth-child(2) {
    display: none;
}

/* market side card */
.market-card .market-table-row {
    padding: 12px 0 8px;
}

.market-card .coin-name {
    padding-left: 0;
}

.market-card .coin-name .coin-tag {
    margin-left: 10px;
}

.market-tabs {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
}

.market-tab {
    /* flex: 1; */
    text-align: center;
    padding: 12px 0;
    font-size: 13px;
    color: var(--light-grey);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.market-tab.active {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
}

.market-tab:hover {
    color: var(--primary-color);
}

.market-card .market-table-header .price-column,
.market-card .market-table-row .market-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-right: 12px !important;
}

@media (max-width: 1260px) {

    /* .market-table-header .col-lg-1:not(.chart-column), */
    .market-table-header .change-header,
    .market-table-row .coin-change {
        display: none;
    }

    .market-card .market-table-row .coin-name,
    .market-card .market-table-header .name-column {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .market-card .market-table-row .market-price,
    .market-card .market-table-header .price-column {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .market-card .market-table-row .market-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .market-card .market-table-row .market-price>.text-profit,
    .market-card .market-table-row .market-price>.text-loss {
        justify-content: flex-end;
    }

    .market-card .market-price > span {
    width: auto;
    text-align: right;
}

    .market-price {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 4px;
    }

    .market-price>span {
        width: 100%;
        text-align: left;
    }

    .market-price>span:last-child {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        font-size: 11px;
        margin-top: 0;
        white-space: nowrap;
    }
}

@media (max-width: 991.98px) {
    .main-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .watchlist-heading {
        width: 100% !important;
        justify-content: space-between;
    }

    .watchlist-info {
        width: 100%;
    }

    .watchlist-heading ion-icon {
        display: block;
        font-size: 22px;
        color: var(--light-grey);
        cursor: pointer;
    }

    .market-category {
        display: none !important;
    }

    .toolbar-right {
        display: none !important;
    }

    .market-table-header .high-col,
    .market-table-header .low-col,
    .market-table-row .coin-high,
    .market-table-row .coin-low {
        display: none;
    }

    .coin-name {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .coin-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
    }

    .coin-title {
        display: block;
        font-size: 13px;
        line-height: 1;
    }

    .coin-tag {
        display: block;
        font-size: 11px;
        line-height: 1;
        background-color: var(--charcoal);
        color: var(--light-blue) !important;
        padding: 3px 0;
    }

    .market-table-header .price-column {
        order: 3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
    }

    .market-table-row {
        display: flex;
        align-items: center;
        padding: 18px 0;
    }

    .market-table-row .coin-name,
    .market-table-header .name-column {
        flex: 0 0 41.67% !important;
        max-width: 41.67% !important;

        display: flex;
        align-items: center;
        gap: 12px;
        padding-left: 0;
    }

    .coin-logo {
        flex-shrink: 0;
    }

    .coin-logo img {
        width: 30px;
        height: 30px;
    }

    .coin-title {
        display: block;
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.2;
    }

    .coin-tag {
        display: block;
        color: #888;
        font-size: 11px;
        margin-top: 3px;
        padding: 3px 0 !important;
    }

    .market-table-row .chart-column,
    .market-table-header .chart-column {
        order: 2;
        flex: 0 0 33.33% !important;
        max-width: 33.33% !important;
        display: flex;
        justify-content: flex-start;
    }

    .chart-image img {
        width: 60px;
    }

    .market-table-row .market-price {
        order: 3;
        flex: 0 0 25% !important;
        max-width: 25% !important;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .market-table-header .price-column {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .market-price span {
        font-size: 13px;
        font-weight: 300;
        color: #fff;
    }

    /* Hide Separate Change Column */
    .market-table-row .coin-change {
        display: none;
    }

    .trade-form {
        display: none;
    }

    .market-card .price-column {
        justify-content: flex-start !important;
    }

    .market-card .market-price {
        align-items: flex-start !important;
    }

    .market-card .chart-column {
        display: flex !important;
    }
}

@media (max-width: 400px) {
    .coin-info-mobile {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 3px;
    }

    .market-card .coin-name .coin-tag {
        margin-left: 0;
    }
}